## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5+4*9%(3+1)/6-1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [2]:
num = int(input("Enter the number:"))
if (num%2==0):
    print(f"Number {num} is Even")
else:
    print(f"Number {num} is Odd")

Enter the number:13
Number 13 is Odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [3]:
num = int(input("Enter the number"))
Len_table = 10
for i in range(1,Len_table+1):
    print(num*i)

Enter the number15
15
30
45
60
75
90
105
120
135
150

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [4]:
L = []
for i in range(2000,3200):
    if((i%7==0)&(i%5!=0)):
        L.append(i)
print(L)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [5]:
l_2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]    
# Initialize counters for each data type
int_count = 0
float_count = 0
str_count = 0
bool_count = 0
none_count = 0

for i in l_2:
    if type(i)==int:
        int_count += 1
    elif type(i)==float:
        float_count += 1
    elif type(i)==str:
        str_count += 1
    elif type(i)==bool:
        bool_count += 1
    elif i is None:
        none_count += 1

print(f"Integer count: {int_count}")
print(f"Float count: {float_count}")
print(f"String count: {str_count}")
print(f"Boolean count: {bool_count}")
print(f"None count: {none_count}")

Integer count: 5
Float count: 1
String count: 4
Boolean count: 1
None count: 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [6]:
l_2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
numeric_add = 0

for i in l_2:
    if type(i)==int or type(i)==float:
        numeric_add += i

print(f"The sum of numeric values in the l_2 is: {numeric_add}")

The sum of numeric values in the l_2 is: 21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [7]:
l_2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

concatenated_str = "-".join([i for i in l_2 if type(i)==str])           # list comprehension
print(f"The concatenated string : {concatenated_str}")

The concatenated string : Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [8]:
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
def my_func(l1):
    numeric_add = 0
    str_count = 0

    for i in l1:
        if type(i)==int or type(i)==float:
            numeric_add += i
        elif type(i)==str:
            str_count += 1
    print(f"Sum: {numeric_add}, Count_of_Strs: {str_count}") 
    
my_func(l1)

Sum: 21.5, Count_of_Strs: 4

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [9]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
# Using loops
odd_num_loop = []
for x in li:
    if x % 2 != 0:
        odd_num_loop.append(x)

print("Using loops:", odd_num_loop)

# Using list comprehension
odd_num_lc = [x for x in li if x % 2 != 0]
print("Using list comprehension:", odd_num_lc)

# Using Lambda function
odd_num_lambda = list(filter(lambda x: x % 2 != 0, li))
print("Using Lambda:", odd_num_lambda)

Using loops: [5, 7, 97, 77, 23, 73, 61]
Using list comprehension: [5, 7, 97, 77, 23, 73, 61]
Using Lambda: [5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [10]:
def calculate(numbers):
    
    count = len(numbers)
    total = sum(numbers)
    minimum = min(numbers)
    maximum = max(numbers)
    mean = total / count

    return {
        'Count': count,
        'Sum': total,
        'Minimum': minimum,
        'Maximum': maximum,
        'Mean': mean
    }

# Example
numbers = [4, 7, 11, 38, 80, 62, 27, 43, 57, 95]
calculate(numbers)

{'Count': 10, 'Sum': 424, 'Minimum': 4, 'Maximum': 95, 'Mean': 42.4}

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [11]:
import math

def calculate_area(shape, **kwargs):
    if shape.lower() == 'square':
        if 'side' in kwargs:
            return kwargs['side'] ** 2
        else:
            return "Please enter 'side' for a square"
    elif shape.lower() == 'rectangle':
        if 'length' in kwargs and 'width' in kwargs:
            return kwargs['length'] * kwargs['width']
        else:
            return "Please enter both 'length' and 'width' for a rectangle"
    elif shape.lower() == 'circle':
        if 'radius' in kwargs:
            return math.pi * (kwargs['radius'] ** 2)
        else:
            return "Please enter 'radius' for a circle"
    else:
        return "Invalid shape. Please enter either 'square', 'rectangle', or 'circle'"

print(calculate_area('square', side=5))
print(calculate_area('rectangle', length=8, width=4))
print(calculate_area('circle', radius=6))

25
32
113.09733552923255

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [12]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

In [13]:
d1 ={}
def func(l1, l2):
    d1['Matched'] = list(set(l1).intersection(set(l2)))
    d1['Only in l1'] = list(set(l1).difference(set(l2)))
    d1['Only in l2'] = list(set(l2).difference(set(l1)))
    return d1

In [14]:
func(l1, l2)

{'Matched': ['June', 'January', 'December', 'February'],
 'Only in l1': ['March', 'September', 'May'],
 'Only in l2': ['April', 'October']}

Q13: write a UDF to check if a number is prime or not.

In [15]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

# Example
num = 29
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

29 is a prime number.

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [16]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

num = int(input("Enter a number: "))
fact = factorial(num)

print(f"The factorial of {num} is: {fact}")

Enter a number: 8
The factorial of 8 is: 40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [17]:
n = int(input("Enter the number: "))

square_dict = {}

for i in range(1,n+1):
    square_dict[i]=i**2
    
square_dict

Enter the number: 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [18]:
number_sequence = input("Enter a comma-separated sequence of numbers: ")

number_list = number_sequence.split(',')

number_tuple = tuple(number_list)

print(number_list, number_tuple, sep='\n')

Enter a comma-separated sequence of numbers: 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.
# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [19]:
word_sequence = input("Enter a comma-separated sequence of words: ")

words_list = word_sequence.split(',')

sorted_words = sorted(words_list)

result = ','.join(sorted_words)

print(result)

Enter a comma-separated sequence of words: without,hello,bag,world
bag,hello,without,world

Q18. Write a program that accepts a sequence of whitespace separated words
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data

In [20]:
words = input('Enter the words in a space seperated manner: ').split(' ') 

words = list(set(words))

words.sort()

result = ' '.join(words)
print(result)

Enter the words in a space seperated manner:  hello world and practice makes perfect and hello world again
 again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [21]:
sentence = input("Enter the sentence: ")

upper_case_count = 0
lower_case_count = 0

for i in sentence:
        if i.isupper():
            upper_case_count += 1
        elif i.islower():
            lower_case_count += 1
            
print('UPPER CASE:', upper_case_count, 'LOWER CASE:', lower_case_count)

Enter the sentence: Hello world!
UPPER CASE: 1 LOWER CASE: 9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [22]:
input_string = 'abcd123'
input_string[::-1]

'321dcba'